
audio.mp3
*.png

buildandrun.sh
cogs/config.yml
gifs/*

!data/assets/ar15face.png
data/assets/oden.json
data/assets/tagged_images/tags.json
data/leaderboard/*.json
data/leaderboard/replays/*

data/logs/*